
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* =================
ESTILOS GENERALES
================= */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #2e2e2e;
}

main {
    width: 100vh;
    min-height: 100%;
}

nav {
    background-color: #43766C;
    padding: 20px 160px;
    padding-right: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*
========================================
CSS Contacto
========================================
*/


.mid-section {
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #2e2e2e;
    overflow: auto; /* use auto instead of scroll to avoid extra scrollbars */
    margin: 0; /* remove default margin */
    margin-top: 20px;
    margin-bottom: 20px;
}

.left{
    display: flex;
    width: 25vw;
    background-color: #43756b;
    margin: 20px;
    overflow: hidden;
    padding: 1vh;
}
.left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.center{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50vw;
    background-color: #c7c7c7;
    margin: 20px;
    overflow: auto;
    scrollbar-width: none;
}

.center::-webkit-scrollbar {
    display: none;
}

.titulo{
    color: #2b2b2b;
    font-weight: bold;
    font-size: 2vh;
    margin-top: 3vh;
    margin-left: 3vw;
}
.name-lastname{
    color: #2b2b2b;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1vb;
}
.name-lastname input{
    display: flex;
    border: 0;
    padding: 1vb;
    width: 100%;
}
.formulario{
    display: flex;
    flex-direction: column;
    color: #2b2b2b;
}
.formulario input{
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 1vb;
    border: 0;
}
.formulario select{
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 1vb;
    border: 0;
}
.formulario textarea{
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 1vb;
    border: 0;
    resize: none;
}
.formulario button{
    margin: 2vh 3vw;
    padding: 1vb;

    background-color: #4A8378;       /* Verde suave y moderno */
    color: #F4F7ED;                  /* Blanco cálido */
    font-weight: bold;
    font-size: large;

    border: 3px solid #2F2A28;       /* Café oscuro más elegante */

    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.formulario button:hover{
    transform: translateY(-3px);

    background-color: #2F2A28;       
    border-color: #4A8378;           
    color: #E8F2EB;                  
}


.right{
    display: flex;
    width: 25vw;
    background-color: #43756b;
    margin: 20px;
    overflow: hidden;
    padding: 1vh;
}
.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =================
FOOTER
================= */
footer {
    background-color: #513F3C;
    color: white;
    text-align: left;
    padding: 40px 160px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

.footer_content {
    padding-left: 15px;
}

.redes_sociales {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 30px;
}

.redes_sociales li a img {
    /* Iconos de redes sociales */
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.redes_sociales .facebook img {
    /* Icono de Facebook */
    width: 25px;
}

.redes_sociales li a img:hover {
    /* Efecto hover en iconos */
    transform: scale(1.2);
}

/* =================
   MEDIA QUERIES
   ================= */
@media screen and (max-width: 1000px) {
    /* Footer responsivo */
    footer {
        padding: 40px 60px;
    }
}

/* =================
    ANIMACIONES
    ================= */

.slide-up {
    opacity: 0;
    transform: translateY(50px);
    /* parte desde abajo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Cuando se hace visible */
.slide-up.visible {
    opacity: 1;
    transform: translateY(0);
}