/* =================
   ESTILOS DEL NAV
   ================= */
nav {
    background-color: #43766C;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 100;
}

/* --- LOGO --- */
nav .logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

nav .logo img {
    height: 60px;
}

nav .logo p {
    color: white;
    font-size: 1.5em;
    font-family: 'Nanum Brush Script', cursive;
    font-weight: normal;
    margin: 0;
    padding-left: 10px;
}

/* --- LINKS --- */
.navegacion {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav .nav-links {
    display: flex;
    list-style: none;
    gap: 70px;
    font-family: 'Montserrat', sans-serif;
}

nav .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav .nav-links li a:hover {
    color: #D9E3E1;
}

/*-ESTILOS SOBRE NOSOTROS-*/


.about-us-center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    z-index: 1;
    overflow: hidden;
}

.about-us-center::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/sobre_nostros/bg.svg");
    z-index: -1;
    width: 100%;
    height: 100%;
    
}

.about-us-center>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 55vw;
}

.about-us-text,
.our-mission-text,
.our-story-text {
    margin: 3vb;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%;
}

div>span {
    font-size: clamp(0.5rem, 1vw, 1.2rem);
    line-height: 1.2;
}

div>h3 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: bolder;
}


.logo {
    color: #FFFFFF;

    font-size: 36pt;
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
}

footer {
    color: #FFFFFF;
    background-color: #513F3C;
    position: relative;
    z-index: 100;
}

footer>h2 {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 32pt;
}

footer>img {
    width: 50pt;
    height: 50pt;
}

.imagenes {
    width: 100pt;
    height: 50pt;
}

/* =================
   RESPONSIVE (Móviles y Tablets)
   ================= */

@media (max-width: 768px) {

    .about-us-center>div {

        grid-template-columns: 1fr;

        height: auto;


        width: 90%;

        margin-bottom: 50px;
    }

    .img1, .img2, .img3 {
        width: 100%;
        display: flex;
        margin: 20px 0;
        
        .about-us-center img {
            width: 80%;
            max-width: 350px;
            height: auto;
            
            object-fit: cover;
            border-radius: 10px;
        }

        .about-us-text,
        .our-mission-text,
        .our-story-text {
            padding: 10px;
        }
    
    }
}

/*Zoom en imagenes con hover*/

.img1,
.img2,
.img3 {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.about-us-center img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.about-us-center img:hover {
    transform: scale(1.1);
    cursor: pointer;
}