/* =================
   ESTILOS GENERALES
   ================= */
body {
    background-color: #1a031f;
}

/* =================
   ESTILOS DEL NAVBAR
   ================= */
nav {
    background-color: #56051e;
}

/* =================
   ESTILOS DE IMAGEN
   ================= */
.contenedorObras {
  display: flex;
  flex-direction: row;
  align-items: stretch; 
  padding: 40px;
  gap: 20px;
}

.imagenObras,
.descripcionObras {
  flex: 1; 
  width: 50%;
}

.imagenObras img {
  width: 100%;    
  height: 100%;  
  object-fit: cover; 
  display: block;
}

.descripcionObras {
  padding: 20px;
  background-color: rgba(61, 7, 97, 0.61);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.botonObras {
  display: inline-block;
  align-self: flex-start; 
  padding: 20px 25%;
  background-color: #d9d9d9;
  color: black;
  text-decoration: none;
  margin-top: 20px;
}

.botonObras:hover { /* Efecto hover */
  background-color: #bfbfbf;
}


