/*  =================
    Estilos generales
    ==================
*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #96746E;
    color: white;
}

/*  =================
    Estilos del nav
    ==================
*/

/* --- NAVBAR --- */
nav {
    background-color: #43766C;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* --- LOGO --- */
nav .logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

nav .logo img {
    height: 60px;
}

nav .logo p {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
    
    font-family: 'Nanum Brush Script', cursive;
    font-weight: normal;
}

/* --- LINKS --- */
.navegacion { 
    display: flex;
    align-items: center;
    gap: 70px;

    font-family: 'Montserrat', sans-serif;
}

nav .nav-links {  /* ul de navegación */
    display: flex;
    list-style: none;
    gap: 70px;
}

nav .nav-links li a { 
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav .nav-links li a:hover {
    color: #D9E3E1; /* cambio de color al pasar el mouse */
}

/* --- HAMBURGUESA --- */
.hamburguesa {
    display: flex;           
    flex-direction: column;  /* Líneas apiladas verticalmente */
    cursor: pointer;
    gap: 5px;
}

.hamburguesa .linea {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
}

/* --- RESPONSIVE --- */
@media screen and (max-width: 768px) {
    nav .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    nav .nav-links.active {
        display: flex;
    }

    .hamburguesa {
        display: flex;
    }
}

/*  =================
    Estilos del hero
    ==================
*/

.hero { /* sección inicial */
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #634A45;
    height: 225px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;

    gap: 8%;
    font-family: 'Montserrat', sans-serif;
}

.hero h1 { /* título principal */
    font-size: 70px;
    margin: 0 20px;
    width: 30%;
}

.hero .sub-paragrafo { /* párrafo secundario */
    font-size: 20px;
    margin: 0 20px;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero .sub-paragrafo h4 { 
    margin:0;
    font-size: 24px;
    font-weight: 600;
}

.hero .sub-paragrafo p {
    margin-top: 10px;
    line-height: 1.8;
    font-weight: 300;
}

/* Imagen de entrada */
.imagen_entrada {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}