img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* =================
   ESTILOS GENERALES
   ================= */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #96746E;
    color: white;
}

/* =================
   ESTILOS DEL NAVBAR
   ================= */
nav {
    background-color: #43766C;
    padding: 20px 160px;
    padding-right: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* --- LOGO --- */
nav .logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

nav .logo img {
    height: 60px;
}

nav .logo p {
    color: white;
    font-size: 2.5em;
    font-family: 'Nanum Brush Script', cursive;
    font-weight: normal;
    margin: 0;
    padding-left: 10px;
}

/* --- LINKS --- */
.navegacion {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav .nav-links {
    display: flex;
    list-style: none;
    gap: 70px;
    font-family: 'Montserrat', sans-serif;
}

nav .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav .nav-links li a:hover {
    color: #D9E3E1;
}

/* --- HAMBURGUESA --- */
.hamburguesa {
    display: flex;
    flex-direction: column;
    /* Líneas apiladas verticalmente */
    cursor: pointer;
    gap: 5px;
}

.hamburguesa .linea {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
}

/* =================
   ESTILOS DEL HERO
   ================= */
.hero { /* CAJA DE: DRIFTWOOD VISIONS y Quienes somos? */
    margin: 15px 0;
    background-color: #634A45;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 2px;
}

.hero h1,
.hero .sub-paragrafo {
    width: 40%;
    /* Ajusta según el diseño */
    min-width: 250px;
    /* Evita que se achiquen demasiado */
    padding: 20px;
    word-break: break-word;
    /* compatibilidad antigua */
    overflow-wrap: break-word;
    /* estándar moderno */
}

.hero h1 {
    font-size: 5em;
    margin: 0 15px;
}

.hero .sub-paragrafo {
    display: flex;
    flex-direction: column;

    justify-content: center;
    font-size: 20px;
    margin: 0 20px;
}

.hero .sub-paragrafo h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;

    text-align: left;
}

.hero .sub-paragrafo p {
    margin-top: 10px;
    line-height: 1.8;
    font-weight: 300;
    text-align: justify;
}

/* =================
   IMAGEN DE ENTRADA
   ================= */
.imagen_entrada {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* =================
   ÚLTIMOS TRABAJOS
   ================= */

.ultimos_trabajos h2 {
    /* Título de la sección */
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    background-color: #634A45;
    text-align: center;

    margin: 15px 0;
}

.trabajos_container { /* Fondo entre imágenes y barras */
    background-color: rgba(248, 250, 229, 0.58); /* #F8FAE5 con opacidad del 58% */
}

/* Barra verde encima de la imagen */
.barra {
  position: relative;
  background-color: #43766C;
  height: 75px;
  z-index: 2; /* se mantiene por encima de la imagen */
  margin-bottom: 15px;
}

/* Imagen debajo de la barra */
.trabajos_container img {
  width: 100%;
  display: block;
}

/* El nombre del artista "colgando" hacia abajo */
.titulo_artista h3 {
  position: absolute;
  bottom: -185px; /* lo hace colgar por debajo de la barra */

  background-color: #43766C;
  
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: bold;

  padding: 90px 200px; /* espacio interno */
  padding-top: 40px; /* quita el padding superior */
  border-radius: 20px;
  z-index: 3; /* encima de la imagen */
}

.trabajos_container .trabajo1 h3:nth-of-type(1) { /* se refiere al primer trabajo */
    right: 0;           /* se pega al borde derecho */
    border-radius: 20px 20px 0px 20px;
}

.trabajos_container .trabajo2 h3:nth-of-type(1) { /* se refiere al segundo trabajo */   
    left: -15px;           /* se pega al borde izq */
}

.trabajos_container img {
  margin-bottom: 15px; /* espacio entre imagen y barra */
}

/* =================
   FOOTER
   ================= */

footer {
    background-color: #513F3C;
    color: white;
    text-align: left;
    padding: 40px 160px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}

.footer_content  {
    padding-left: 15px;
}

.redes_sociales { /* Lista de redes sociales */
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 30px;
}

.redes_sociales li a img { /* Estilo común para todos los iconos */
    width: 40px;
    height: 40px;
    transition: filter 0.3s;
}

.redes_sociales .facebook img { /* Icono de Facebook */
    width: 25px;
}

.redes_sociales li a img:hover { /* Efecto hover para todos los iconos */
    transform: scale(1.2);
}


/* =================
   MEDIA QUERIES
   ================= */
@media screen and (max-width: 1000px) {
    /* --- NAVBAR --- */
    nav {
        padding: 20px 60px;
    }

    nav .logo a {
        justify-content: center;
    }

    nav .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    nav .nav-links.active {
        display: flex;
    }

    .hamburguesa {
        display: flex;
        margin-right: 20px;
    }

    /* --- HERO --- */
    .hero {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        gap: 20px;
    }

    .hero h1 {
        display: flex;
        justify-content: center;
        font-size: 50px;
        width: 80%;

        text-align: center;
        padding-bottom: 0;
    }

    .hero .sub-paragrafo {
        width: 80%;

        align-items: center;
    }

    .hero .sub-paragrafo h3 {
        width: 100%;
        font-size: 16px;
    }

    .hero .sub-paragrafo p {
        width: 100%;
        font-size: 16px;

        text-align: center;
    }

    footer {
        padding: 40px 60px;
     }
}