header{
    color: #FFFFFF;
    background-color: #43766C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
header>div{
display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header>div:nth-child(1){
    width: 35%;
}
header>div:nth-child(2){
display: flex;
flex-direction: row;
width: 60%;
justify-content: space-around;
margin-top: 10px;


}
header>div:nth-child(2)>img{
    
    width: 15%;
    height: 50%;
}
header>div:nth-child(2)>a{
    height: 50%;
text-decoration: none;
}
header>div:nth-child(2)>a>p{
color: #FFFFFF;
font-size: 24pt;
height: 100%;
width: 100%;

}

body{
    background: linear-gradient(-40.39deg,#43766C 70% , #FFFFFF 15%, );

}
body>div{
    rotate: -40.39;
    width: 100%;
    height: 100%;
    background-color: #43766C;
}
article{
    width:80% ;
    height: 100%;
    margin-left: 10%;
    background-color:rgba(255, 255, 255, 70%) ;
    display: flex;
    flex-direction: column;
}
article>section{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    
}
article>section>div{
display: flex;
flex-direction: column;
width: 30%;
height: 100%;
margin-left:40% ;
}
article>section:nth-child(2)>div{
display: flex;
flex-direction: column;
width: 30%;
height: 100%;
margin-left:0 ;
margin-right: 40%;
}
article>section>div>h3{
    width: 100%;
    height: 30%;
}
article>section>div>p{
width: 100%;
height: 70%;
}
.logo{
    color: #FFFFFF;

    font-size: 36pt;
    font-family: "Nanum Brush Script", cursive;
  font-weight: 400;
  font-style: normal;
}
footer{
    color: #FFFFFF;
    background-color: #513F3C ;
}
footer>h2{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 32pt;
}
footer>img{
width: 50pt;
height: 50pt;
}
.imagenes{
width: 100pt;
height: 50pt;
}