/* =========================
   BODY Y ENLACES
   ========================= */
body {
    margin: 0;
    width: 100%;
    min-height: 100vh; /* altura mínima para que main y footer se ajusten */
    background-color: #201E2A;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =========================
   NAVBAR
   ========================= */
nav {
    background-color: #43766C;
    color:#B6AAEC;
}

nav .nav-links li a:hover {
    color: #3B2F52;
}


/* =================
   ESTILOS DE IMAGEN
   ================= */
.contenedorObras {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 40px;
  gap: 20px;
  flex-wrap: wrap;
  /* permite que los elementos bajen si no hay espacio */
}

.imagenObras,
.descripcionObras {
  flex: 1;
  width: 50%;
  min-width: 300px;
  /* evita que se deformen demasiado */
}

.imagenObras img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.descripcionObras {
  padding: 60px;
  background-color: #3B2F52;
  color: #B6AAEC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.descripcionObras h2 {
  margin: 0;
  font-size: 38px;
}

.descripcionObras h2:nth-of-type(2) {
  margin-top: 2px;
}

.descripcionObras p {
  font-size: 30px;
  margin-top: 20px;
  padding-right: 60px;
  text-align: justify;
}

.descripcionObras p:nth-of-type(2) {
    margin-top: 0;
}

/* =========
    BOTON
   ========= */
.botonObras {
  display: inline-block;
  align-self: flex-start;
  color: #4BBA8F;

  padding: 15px 10%;
  font-size: 1.5em;
  font-weight: 600;

  background: #1D3E3A;
  border: #4BBA8F solid 4px;
  border-radius: 0;

  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;

}

.botonObras:hover {
  transform: translateY(-3px);
  border-color: #d1d1d1;
}

.botonObras:active {
  transform: translateY(0);
}

/* =========================
   MAIN
   ========================= */

/* BOTÓN */
.boton {
    background-color: #1D3E3A;
    color: #4BBA8F;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
    max-width: 200px;
    width: fit-content;
}

.boton:hover {
    color: #B6AAEC;
}

/* =========================
   FOOTER
   ========================= */
footer {
    background-color: #3B2F52;
    color: white;
    text-align: left;
    padding: 40px 160px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.footer_content {
    padding-left: 15px;
}

.redes_sociales {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

.redes_sociales li a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.redes_sociales li a img:hover {
    transform: scale(1.2);
}

.redes_sociales .facebook img {
    width: 25px;
}

/* =========================
   MEDIA QUERIES
   ========================= */
@media screen and (max-width: 1000px) {
    nav {
        padding: 20px 60px;
    }

    nav .logo a {
        justify-content: center;
    }

    nav .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    nav .nav-links.active {
        display: flex;
    }

    .hamburguesa {
        display: flex;
    }

    main {
        flex-direction: column;
    }

    main section {
        flex: 1 1 100%;
    }

    footer {
        padding: 40px 60px;
    }
}

