body {
    background-color: #401E2F;
}

/* =================
   ESTILOS DEL NAVBAR
   ================= */
nav {
    background-color: #6A6196;
}

/* =================
   HEADER
   ================= */
main>header {
    position: relative;
    width: 100%;
    height: auto;
    color: white;
}

main>header>img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.tituloArtista {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    width: 200vh;
    max-width: 40%;
    height: 100%;
    padding: 0 100px;

    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.5);
}

.tituloArtista h1 {
    margin: 0 0 5px 0;
    font-size: 3.5em;
    color: white;
    transform: translateY(-90px);
    font-family: "Advent Pro", sans-serif;
}

.tituloArtista h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
    transform: translateY(-85px);
}

/* =================
   GALERÍA
   ================= */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


main>section {
    width: 95%;
    margin: 2.5% 2.5%;
    background-color: #BFBFBF;
    padding: 5%;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
    row-gap: 50px;
    /* Espacio entre filas */
}

.galeria>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 4px solid #313041;
}

.imagenGrande {
    grid-column: span 2;
    /* Ocupa dos columnas */
    width: 100%;
    height: auto;
}

.imagenExtraGrande {
    grid-column: span 3;
    /* Ocupa tres columnas */
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.imagenesPequeñas {
    aspect-ratio: 1 / 1.4;
    overflow: hidden;
    width: 100%;
}

/* =================
   FONDO DEL MAIN
   ================= */

main {
    position: relative;
    /* necesario para posicionar los pseudoelementos */
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    /* evita que se salgan las imágenes del contenedor */
}

main {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

/* Estilos comunes */
main::before,
main::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

/* Imagen derecha */
main::before {
    top: 40%;
    left: -5%;
    background-image: url("../../img/artista_tyle/fondo/fondo-izquierda.svg");
    transform: rotate(180deg);
    width: 1250px;
    height: 1250px;
}

/* Imagen izquierda */
main::after {
    bottom: 0;
    right: -14%;
    background-image: url("../../img/artista_tyle/fondo/fondo-izquierda.svg");
    width: 1250px;
    height: 1250px;
}

/* Asegura que la galería esté por encima */
.galeria {
    position: relative;
    z-index: 1;
}

/* =================
   BOTÓN OBRA DESTACADA
   ================= */

.botonObras {
    position: relative;
    z-index: 10;
    /* hace que el botón quede encima */

    display: flex;

    margin: 40px auto;
    margin-top: 80px;

    padding: 18px 60px;
    font-size: 1.3em;
    font-weight: 600;

    color: #fff;
    background: linear-gradient(45deg, #6A6196, #401E2F);
    border: #401E2F solid 4px;
    border-radius: 0;

    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.botonObras:hover {
    transform: translateY(-3px);
    border-color: #d1d1d1;
}

.botonObras:active {
    transform: translateY(0);
}


/* =================
   FOOTER
   ================= */
footer {
    background-color: #6A6196;
}

/* =================
   MEDIA QUERIES
   ================= */
@media screen and (max-width: 1000px) {
    /* Estilos para pantallas pequeñas */

    /* Header responsivo */
    .tituloArtista {
        font-size: 0.8em;
    }

    .tituloArtista h1 {
        color: white;
        font-size: 3.5em;
        transform: translateY(-70px);
    }

    .tituloArtista h2 {
        font-size: 2em;
        transform: translateY(-65px);
    }

    /* La galería en pantallas pequeñas */
    .galeria {
        grid-template-columns: 1fr;
        /* Solo una columna en móviles */
        row-gap: 30px;
    }

    .magenImagen {

        width: 10px;
        height: 10px;
    }

    /* Las imágenes grandes van primero y ocupan todo el ancho */
    .imagenGrande,
    .imagenExtraGrande {
        grid-column: 1 / -1;
        /* Ocupan toda la fila */
        order: -1;
        /* Muevelas al inicio */
    }

    /* Ajuste opcional de tamaño o proporción */
    .imagenGrande img,
    .imagenExtraGrande img {
        width: 100%;
        height: auto;
    }

    /*Fondo*/
    main::before {
        top: 600px;
    }

    .botonObras {
        font-size: 1em;
        padding: 14px 40px;
        margin-top: 45px;
    }

    main::before {
        left: -15%;
        top: 10%;
    }
}

/* =================
   ANIMACIÓN SUAVE AL SCROLL
   ================= */
.galeria img {
    opacity: 0;
    /* inicial transparente */
    transform: translateY(50px);
    /* baja un poco */
    transition: all 1s ease-out;
    /* transición suave */
}

.galeria img.visible {
    opacity: 1;
    /* visible */
    transform: translateY(0);
    /* vuelve a su posición */
}