body{
    margin: 0%;
    width: 100%;
    height: 100vh;
    background-color: #96746E;
}

body > header{
    width: 100%;
    height: 8%;
    background-color: #43766C;
}

main{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    width: 90%;
    height: 80%;
    background-color: #634A45;
    border: #4E3B38 solid 2vw;
    border-bottom: 0;
}

main > header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

main > header > h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: white;
}

section {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    width: 20%;
    height: 70%;
    margin: auto;
}

article > img {
    width: 100%;
    height: 80%;
    object-fit: cover; 
    display: block;
}

article > footer{
    width: 100%;
    height: 20%;
    background-color: #43766C;
    display: flex;
    align-items: center;
}

article > footer > h2{
    margin: auto;
    color: white;
    font-size: 28px;
}


body > footer {
    width: 100%;
    height: 8%;
    background-color: #513F3C;
}